.demo-content{
        padding: 15px;
        font-size: 18px;
        min-height: 300px;
        background: #FCFEFE;
        margin-bottom: 10px;
    }
    .demo-content.bg-alt{
        background: #FCFEFE;
    }

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background: #FCFEFE;
}
.nav-brand {
  float: none;
  height: 0px;
  padding: 0px 0px;
  font-size: 18px;
  line-height: 20px;
}
.list-icons {
    padding: 0;
    margin: 20px 0;
    list-style: none;
}
.list-icons li {
    float: left;
    padding: 0 0 0 5px;
}