{% extends "base.html" %}
{% set active_page = "contact" %}

{% block content %}

<div class="container">
  <div class="row">
    <h1 align="center">Contact Us</h1>
    <p align="center">Feel free to contact these people for more info<p>
  </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="col-sm-6">
           <img src="{{ url_for('static', filename='anon.jpg') }}" class="img-responsive" alt="Rounded Image">
         </div>
         <div class="col-sm-6">
          <ul class="list-icons" align="center">
            PERSON LASTNAME
            <li><i class="fa fa-envelope-o pr-10"></i><a id="my-email" href="mailto:calvinjk@umich.edu?subject=Michigan+Parkour" title="work"> calvinjk@umich.edu</a></li>
            <li><i class="fa fa-phone pr-10"></i> (123)456-7890</li>                
          </ul>
        </div>
      </div>
     <div class="col-sm-4">
        <div class="col-sm-6">
           <img src="{{ url_for('static', filename='anon.jpg') }}" class="img-responsive" alt="Rounded Image">
         </div>
         <div class="col-sm-6">
          <ul class="list-icons" align="center">
            PERSON LASTNAME
            <li><i class="fa fa-envelope-o pr-10"></i><a id="my-email" href="mailto:jesswu@umich.edu?subject=Michigan+Parkour" title="work"> jesswu@umich.edu</a></li>
            <li><i class="fa fa-phone pr-10"></i> (123)456-7890</li>                
          </ul>
        </div>
      </div>
     <div class="col-sm-4">
        <div class="col-sm-6">
           <img src="{{ url_for('static', filename='anon.jpg') }}" class="img-responsive" alt="Rounded Image">
         </div>
         <div class="col-sm-6">
          <ul class="list-icons" align="center">
            PERSON LASTNAME
            <li><i class="fa fa-envelope-o pr-10"></i><a id="my-email" href="mailto:jesswu@umich.edu?subject=Michigan+Parkour" title="work"> jesswu@umich.edu</a></li>
            <li><i class="fa fa-phone pr-10"></i> (123)456-7890</li>                
          </ul>
        </div>
      </div>
    </div>
  </div>



{% endblock %}