{% extends "base.html" %}
{% set active_page = "contact" %}

{% block content %}

<div class="container">
    <div class="row">
      image
    </div>
    <div class="row">
     <div class="col-sm-6">
             <h1 align="center">Contact Us</h1>
           <ul class="list-icons" align="center">
            <li><i class="fa fa-envelope-o pr-10"></i><a id="my-email" href="mailto:michigan.parkour@umich.edu?subject=Michigan+Parkour" title="work"> michigan.parkour@umich.edu</a></li>             
          </ul>        
      </div>
      <div class="col-sm-6">
        <h1 align="center">FAQ's</h1>
        <ul class="list-icons" align="center">
            <li>Question 1</li>
            <li>Question 2</li>
            <li>Question 3</li>
            <li>Question 4</li>             
          </ul> 
      </div>


    </div>
  </div>



{% endblock %}