{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}

<div class="container">
    <div class="row">
       <div class="col-sm-12 col-md-6">
           <h1 align="middle">Michigan Parkour</h1>
           <p  vertical-align="middle">We are the Michigan Parkour Community. Join us every Tuesday and Thursday at 5:00 pm and Sunday at 4:00 pm at the School of Dentistry courtyard.        Everybody (including beginners) are always welcome. All sessions are free!</p>
           HI EVERYONE! THIS IS A TEST!
      </div>
      <div class="col-sm-12 col-md-6">
        <iframe width="100%" height="400"  frameborder="0" style="border:0"  
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDQPx_jZajXJ_kF14hV6Aen5Yn85gJfehI&q=school+of+dentistry,Ann+Arbor+MI" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

{% endblock %}