{% extends "base.html" %}
{% set active_page = "locations" %}

<!--    
- dental
- link to list of locations
-->

{% block content %}

{% set locations = [
  ('Dental', 'https://goo.gl/maps/oKPPUZbhAJt'),
  ('Fuller Park','https://goo.gl/maps/oeS4KCu3j7M2'),
  ('Cat City', ''),
  ('Biomed', ''),
  ('Observatory', ''),
  ('PlyMed', ''),
  ('Markley', ''),
  ('Ice Cubes', ''),
  ('MoJo', ''),
  ('Hill Auditorium', ''),
  ('The Diag', ''),
  ('Redcar', ''),
  ('Kellog', ''),
  ('Flint', '')
  ] -%}

<div class="container">
  <h1 align = "middle">Where we Train</h1>
  <p> These are the usual spots we train at. 
  <div class="row">
    {% for name, maplink in locations %}
    <div class="col-sm-12 col-md-3">
      <h4 align="middle">{{name}}</h4>
      <a href = {{maplink}}><img width = "100%" src = {{url_for('static', filename='photos/MIPK_spots/'+ name + ".jpg")}}></img></a>

    </div>
    {% endfor %}
  </div>
</div>





  {% endblock %}